*.obj
*.tlog
*.pdb
*.iobj
*.ipdb
*.log
*.res
*.exe
*.suo
*.db
*.opendb
*.idb
*.db-shm
*.db-wal
*.ipch
*.aps
Gensida/asm/main68k.asm
Gensida/asm/sub68k.asm
Debug86_68/
Debug86_695/
Release86_68/
Release86_695/
Debug64_68/
Debug64_695/
Release64_68/
Release64_695/
Debug/
Release/